body {
    font-family: sans-serif;
}

/* Steps to compete */

/* Step 1: Center and all cap title */
.title {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

/* Step 2: Put border around body */

/* Step 3: Price size bigger & bold */

/* Step 4: Shipping grey and all cap */

/* Step 5: Hover lose underline info */

/* Step 6: Cart hover invert color */